rpc-server-port=5000
log-on-file=YES
log-file=/var/log/chaos/mdscds.log
log-level=debug
rpc-domain-queue-thread-number=100
rpc-domain-scheduler-type=1
persistence-impl=MongoDB
persistence-servers=chaost-mongofe04.chaos.lnf.infn.it:27017
persistence-servers=chaost-mongofe05.chaos.lnf.infn.it:27017
persistence-kv-param=user:chaos
persistence-kv-param=pwd:chaos
persistence-kv-param=db:chaos
cron-job-ageing-management-repeat-time=1800
cache-servers=chaost-cb1.chaos.lnf.infn.it
cache-servers=chaost-cb2.chaos.lnf.infn.it
cache-driver=Couchbase
cache-driver-kvp=bucket:chaos
cache-driver-kvp=user:chaos
cache-driver-kvp=pwd:chaos
obj-storage-driver=MongoDB
#obj-storage-driver=NewMongoDB
obj-storage-driver-server_url=chaost-mongofe01.chaos.lnf.infn.it
obj-storage-driver-server_url=chaost-mongofe02.chaos.lnf.infn.it
obj-storage-driver-server_url=chaost-mongofe03.chaos.lnf.infn.it
obj-storage-kvp=user:chaos
obj-storage-kvp=pwd:chaos
obj-storage-kvp=db:chaos
obj-storage-kvp=hint_name:"ndk_uid_1_cudk_run_id_1_dpck_seq_id_1_dpck_ats_1_dpck_ds_tag_1"
archiver-thread=10
archiver-instances=20
# archiver-log-metric=yes
archiver-log-metric-update-interval=10	
obj-storage-kvp=mongodb_oswc:acknowledged
direct-io-server-thread-number=50
direct-io-server-kv-param=ZMQ_SNDHWM:1000
direct-io-server-kv-param=ZMQ_RCVHWM:1000
#batch-sandbox-size=3
